In [51]:
import sqlite3

In [52]:
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [53]:
try:
   conn.execute('''CREATE TABLE COMPANY
            (
               NIM                 TEXT    PRIMARY KEY    NOT NULL,
               BIRTHDAY            TEXT,
               FULLNAME            TEXT,
               IPK                 INT
            );
      ''')
   print("Table created successfully")
except Exception as e:
   print(e)

table COMPANY already exists

In [54]:
try:
    conn.execute("INSERT INTO COMPANY   (NIM,BIRTHDAY,FULLNAME,IPK) \
                    VALUES              ('12301042001','01-04-2001','TEGAR MAULANA FAHREZA',3.73)")
    conn.execute("INSERT INTO COMPANY   (NIM,BIRTHDAY,FULLNAME,IPK) \
                    VALUES              ('13301042001','01-04-2001','RAHUL',3.73)")
    conn.execute("INSERT INTO COMPANY   (NIM,BIRTHDAY,FULLNAME,IPK) \
                    VALUES              ('33301042001','01-04-2001','JOSEP',4.00)")
    conn.execute("INSERT INTO COMPANY   (NIM,BIRTHDAY,FULLNAME,IPK) \
                    VALUES              ('13301052001','01-05-2001','ASEP',2.99)")
    print("Task running successfully")
except Exception as e:
   print(e)

Task running successfully

In [55]:
cursor = conn.execute("SELECT NIM, BIRTHDAY, FULLNAME, IPK from COMPANY WHERE IPK>3.00")
for row in cursor:
   print(row)
   print("NIM        = ", row[0])
   print("BIRTHDAY   = ", row[1])
   print("FULLNAME   = ", row[2])
   print("IPK        = ", row[3], "\n")

('12301042001', '01-04-2001', 'TEGAR MAULANA FAHREZA', 3.73)
NIM        =  12301042001
BIRTHDAY   =  01-04-2001
FULLNAME   =  TEGAR MAULANA FAHREZA
IPK        =  3.73

('13301042001', '01-04-2001', 'RAHUL', 3.73)
NIM        =  13301042001
BIRTHDAY   =  01-04-2001
FULLNAME   =  RAHUL
IPK        =  3.73

('33301042001', '01-04-2001', 'JOSEP', 4)
NIM        =  33301042001
BIRTHDAY   =  01-04-2001
FULLNAME   =  JOSEP
IPK        =  4

In [56]:
conn.close()
print("Connection lost")

Connection lost